html{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

/* header, main昼夜模式切换所用样式 */
.light {
  background: #eee !important;
  color: black ;
}

.light-sec {
  background: #fff !important;
  color: black ;  
  border: 0;
}
.light-sec i { 
  color: black !important ;  
}

.light-sec .is-active i { 
  color: orange !important ;  
}

.dark {
  background: #171d20 !important
}

.dark-sec {
  background: #2f3133 !important;
  color: white ;
  border: 0;
}

.dark-sec i { 
  color: white;
}

.dark-sec .about i,
.light-sec .about i { 
  color: gray !important;  
}
/* ************************************** */
.cell {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.global-notify {
  background-color: green;
  font-size: 30px;
}

/* 内外边距 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 斜体不倾斜 */
em,
i {
  font-style: normal;
}

/* 去掉li的圆点 */
li {
  list-style: none;
}

/* 防止图片作为链接是出现边框 */
/* 垂直居中对齐文字 */
img {
  border: 0;
  vertical-align: middle;
}

/* 鼠标移至按钮变成小手 */
button {
  cursor: pointer;
}

/* 链接去掉下划线，改变默认颜色 */
a {
  color: #666;
  text-decoration: none;
}

/* 鼠标移至链接，变色 */
a:hover {
  color: #c81623;
}

/* 按钮，输入的字体 */
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  border: 0;
  outline: none;
}

/* 主体背景，字体，颜色 */
body {
  /* 字体平滑 */
  -webkit-font-smoothing: antialiased;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}

/* 自定义隐藏类 */
.hide,
.none {
  display: none;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}




